{% extends "layout.html" %} {% load static %} {% block content %}

<div class="card mb-5 mt-5 offset-md-2 col-md-8">
  <div class="card-body">
    <h2 class="card-title text-center">Add New Post</h2>

    <form action="/add-post/" method="POST" id="new-post-form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          placeholder="Enter title"
          required
        />
      </div>
      <div class="form-group">
        <label for="post-image">Please select Post Image</label>
        <input type="file" class="form-control-file" id="post-image" name="post-image" required />
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea
          class="form-control"
          id="post-content"
          name="content"
          rows="6"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
