{% extends "layout.html" %} {% load static %} {% block content %}
<div class="row">
  {% for post in posts %}
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{ post.content}}</p>
        <a href="/blog-detail/{{post.id}}/" class="btn btn-primary">Read more...</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %} {% block footer %} {{ super }}
<script></script>
{% endblock %}
