{% extends "layout.html" %} {% load static %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to DjangoBlogs</h1>
    <p class="lead text-center">
      Publish/Post your idea, knowledge here..
      <a href="/add-post/" class="btn btn-primary">Add New Post</a>
    </p>
  </div>
</div>

{% for post in posts %}

<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="img-square-wrapper">
        <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{ post.content|truncatechars:150}}</p>
        <a href="/blog-detail/{{post.id}}/" class="btn btn-sm btn-primary">Read more...</a>
        <button class="btn btn-sm btn-danger delete-post" id="{{post.id}}">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
