{% extends "layout.html" %} {% load static %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Welcome to DjangoBlogs</h1>
    <p class="lead text-center">
      Publish/Post your idea, knowledge here..
      <a href="/add-post/" class="btn btn-primary">Add New Post</a>
    </p>
  </div>
</div>

{% for post in posts %}
<div class="card mb-3 flex-row flex-wrap">
  <div class="img-square-wrapper">
    <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{ post.content}}</p>
    <a href="/blog-detail/{{post.id}}/" class="btn btn-primary">Read more...</a>
  </div>
</div>
{% endfor %} {% endblock %}
