{% extends "layout.html" %} {% load static %} {% block content %}

<h1 class="text-center">My Posts</h1>

{% for post in posts %}
<div class="card mb-3">
  <div class="card-horizontal">
    <div class="img-square-wrapper">
      <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{ post.content}}</p>
      <a href="/blog-detail/{{post.id}}/" class="btn btn-primary">Read more...</a>
    </div>
  </div>
</div>
{% empty %}
<div class="offset-md-3 col-md-6">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        You don't have any posts yet...
      </p>
      <a href="/add-post/" class="btn btn-primary">Add New Post</a>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
